{% set placeholders = {
        'email': 'you@example.com',
        'username': 'username',
        'password': '',
        'password2': '',
        'name': 'Иван',
        'surname': 'Иванов',
        'fathers_name': 'Иванович',
        'birthday': 'ДД.ММ.ГГГГ',
        'phone': '',
        'tg_username': '',
    }
%}

{% set prefix = {
        'birthday': '<svg width="16" height="16" fill="currentColor" class="bi bi-calendar2-plus"><use xlink:href="#calendar"></svg>',
        'phone': '+7',
        'tg_username': '@'
    }
%}
